@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url('/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
      }
      :root{
        --cor0:#c5ebd6;
        --cor1:#83e1ad;
        --cor2:#3ddc84;
        --cor3:#2fa866;
        --cor4:#1a5c37;
        --cor5:#063d1e;
        --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
        --fonte-destaque: 'Bebas Neue', cursive;
        --fonte-android: 'Android', sans-serif;
      }
    *{
    margin: 0px;
    padding: 0px;
    }
   body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
     }
     a.externo::after{
        content: '\00A0\1F517';
     }
   header{
        color: var(--cor0);
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        min-height: 150px;
        padding-top: 30px;
        background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
        h1{
            font-family: var(--fonte-destaque);
            font-size: 3em;
            color: white;
            margin-bottom: 20px;
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
            font-weight: normal;
        }
        p{
            color: white;
            font-family: var(--fonte-padrao);
            font-size: 1.2em;
            max-width: 500px;
            margin: auto;
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
            margin-bottom: 20px;
        }
     }
        nav{
            text-align: left;
            background-color: var(--cor5);
            box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.5);
            padding: 10px;
            a{
                color: var(--cor1);
                text-decoration: none;
                padding: 10px;
                border-radius: 10px;
                transition-duration: 0.5s;
            }
            a:hover{
                background-color: var(--cor3);
                font-weight: bold;
                color: var(--cor5);
            }
        }
    main{
        background-color: white;
        margin: auto;           
        padding: 20px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        min-width: 300px;
        max-width: 800px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        img.pequena{
            max-width: 350px;
            display: block;
            margin: auto;
        }
        a{
            color: var(--cor4);
            font-weight: bold;
            background-color: var(--cor1);
            padding: 2px 6px;
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
            color: var(--cor3);
        }
        h1{
            color: var(--cor5);
            font-family: 'android', Times, serif;
            font-size: 2em;
            font-weight: normal;
        }
        p{
            text-indent: 30px;
            margin: 15px 0px;
            line-height: 1.5em;
            font-size: 1em;
            text-align: justify;
        }
        img{
            width:100%;
        }
        h2{
            color: var(--cor4);
            font-family: 'android', Times, serif;
            font-size: 1.5em;
            font-weight: normal;
            background-image: linear-gradient(to right, var(--cor1), transparent);
            text-indent: 10px;
        }
        div.video{
            background-color: var(--cor5);
            margin: 0px -20px 30px -20px;
            padding: 20px;
            position: relative;
            padding-bottom: 60%;
        }
        div.video > iframe{
            position: absolute;
            top: 5%;
            left: 5%;
            width: 90%;
            height: 90%;
        }
    }
        aside{
            background-color: var(--cor1);
            border-radius: 10px;
            padding: 10px;
            box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
            ul{
                list-style-position: inside;
                columns: 2;
                list-style-type: '\2714\00A0\00A0';
            }
            h3{
                background-color: var(--cor4);
                color: white;
                padding: 5px;
                margin: -10px -10px 0px -10px;
                border-radius: 10px 10px 0px 0px;
            }
        }
        footer{
            background-color: var(--cor5);
            padding: 5px;
            p{
                text-align: center;
                color: white;
                font-size: 0.8em;
            }
            a{
                color: white;
                font-weight: bolder;
                text-decoration: none;
            }
            a:hover{
                text-decoration: underline;
                color: var(--cor1);
            }
        }